.vscode
demo/
*.vsix
src/
tsconfig.json
jsconfig.json
to-do-list.md
.gitignore
**/*.map
changelog.md
.github/
.husky/
.prettierignore
.prettierrc
eslint.config.mjs
export-manager-example.ts
commitlint.config.cjs
yarn.lock
doc/

